<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <div class="main-content">
 
        {{>header}}
           <p>This site was created by HARISH</p>
    <p>This site uses mapbox.com and weatherstack api</p>
    <img class="portrait" src="/img/me.jpg">
    </div>
    
       
     {{>footer}}
</body>
</html>
